@model DemoCQRSvsSevrice.Models.User

<input type="hidden" for="Id" name="Id" class="form-control" value="@Model.Id" />
<div class="form-group">
    <label for="FirstName">FirstName</label>
    <input for="FirstName" name="FirstName" class="form-control" value="@Model.FirstName">
</div>
<div class="form-group">
    <label for="LastName">LastName</label>
    <input for="FirstName" name="LastName" class="form-control" value="@Model.LastName">
</div>
<div class="form-group">
    <label for="Age">Age</label>
    <input for="FirstName" name="Age" type="number" class="form-control" value="@Model.Age">
</div>
<div class="form-group">
    <label for="Email">Email</label>
    <input for="FirstName" name="Email" type="email" class="form-control" value="@Model.Email">
</div>
<div class="form-group">
    <label for="Phone">Phone</label>
    <input for="FirstName" name="Phone" class="form-control" value="@Model.Phone">
</div>